In [1]:
import pandas as pd
import numpy as np
import io
pd.set_option('mode.chained_assignment', None)
import pickle
print("all the libraries are downloaded")

all the libraries are downloaded

In [2]:
path="C:\\Users\\yasaswini\\Desktop\\internbuddy.xlsx"
names=["app_id","current_city","python","r","data_science","skills","institute","degree","stream","year","performance_pg","perfomance_ug","per_12","per_10"]
data=pd.read_excel(path,names=names)

In [3]:
df=pd.DataFrame(data)

In [14]:
df.drop(['app_id','current_city','institute','per_12','per_10','stream','performance_pg','perfomance_ug'],axis=1,inplace=True)

In [5]:
df=df[df.year<=2020]
df.reset_index(drop=True,inplace=True)

In [6]:
df.replace(['Bachelor of Engineering (B.E)','Master of Science (M.Sc)','Bachelor of Technology (B.Tech)','Master of Technology (M.Tech)','Bachelor of Business Administration (B.B.A.)','Master of Science (M.Sc)'],['B.E','MSc','B.Tech','M.Tech','BBA','MSc'],inplace=True)

In [7]:
df.loc[:,'weightage']=0

In [8]:
df.loc[:,'result']=" "

In [9]:
for i in range(len(df)):
    if((df['degree'][i]=="B.Tech")and(df['year'][i]==2020)):
        df['weightage'][i]=df['weightage'][i]+10
    elif((df['degree'][i]=="B.E")and(df['year'][i]==2020)):
        df['weightage'][i]=df['weightage'][i]+10
    elif((df['degree'][i]=="B.Tech")and(df['year'][i]==2019)):
        df['weightage'][i]=df['weightage'][i]+8
    elif((df['degree'][i]=="B.E")and(df['year'][i]==2019)):
        df['weightage'][i]=df['weightage'][i]+8
    elif((df['degree'][i]=="B.Tech")and(df['year'][i]<=2018)):
        df['weightage'][i]=df['weightage'][i]+5
    elif((df['degree'][i]=="B.E")and(df['year'][i]<=2018)):
        df['weightage'][i]=df['weightage'][i]+5
    elif((df['degree'][i]=="MSc")and(df['year'][i]==2020)):
        df['weightage'][i]=df['weightage'][i]+7
    elif((df['degree'][i]=="M.Tech")and(df['year'][i]==2020)):
        df['weightage'][i]=df['weightage'][i]+7
    elif((df['degree'][i]=="MSc")and(df['year'][i]<=2019)):
        df['weightage'][i]=df['weightage'][i]+3
    elif((df['degree'][i]=="M.Tech")and(df['year'][i]<=2019)):
        df['weightage'][i]=df['weightage'][i]+3
    else:
        df['weightage'][i]=df['weightage'][i]+0

In [10]:
for i in range(len(df)):
    if(df['python'][i]==3):
        df['weightage'][i]=df['weightage'][i]+10
    if(df['r'][i]==3):
        df['weightage'][i]=df['weightage'][i]+10
    if(df['data_science'][i]==3):
        df['weightage'][i]=df['weightage'][i]+10
    if(df['python'][i]==2):
        df['weightage'][i]=df['weightage'][i]+7
    if(df['r'][i]==2):
        df['weightage'][i]=df['weightage'][i]+7
    if(df['data_science'][i]==2):
        df['weightage'][i]=df['weightage'][i]+7
    if(df['python'][i]==1):
        df['weightage'][i]=df['weightage'][i]+3
    if(df['r'][i]==1):
        df['weightage'][i]=df['weightage'][i]+3
    if(df['data_science'][i]==1):
        df['weightage'][i]=df['weightage'][i]+3

In [11]:
for i in range(len(df)):
    if("Machine Learning"in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("Deep Learning" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("Natural Language Processing (NLP)" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("Amazon Web Service(AWS)" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("MS-excel" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("Statistical Data Analysis" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("MySQL" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("NoSQl" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("SQL" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3
    if("Statistics" in str(df['skills'][i])):
        df['weightage'][i]=df['weightage'][i]+3

In [12]:
df.replace(['B.Com. Professional','Post Graduate Program in Business Analytics','Bachelor of Commerce (B.Com) (Hons.)','Bachelor of Business Management (B.B.M.)','Post Graduate Diploma in Business Management (P.G.D.B.M.)','Bachelor of Mathematics (B.Math) (Hons.)'],['B.Com','PG in business','B.Com','BBM','PGDBM','BSc'],inplace=True)

In [15]:
df.sample(5)

,python,r,data_science,skills,degree,year,weightage,result
460,2,0,2,"Algorithms, Articulate Storyline, Audacity, Au...",B.E,2017,31,
521,2,2,0,"Computer Vision, Data Analytics, Image Process...",M.Tech,2016,29,
147,2,0,0,"HTML, Bootstrap, C Programming, CSS, Data Anal...",B.E,2019,15,
183,1,0,0,"C Programming, C++ Programming, Python",B.E,2020,13,
519,2,2,0,"Data Analytics, Machine Learning, Natural Lang...",B.Tech,2016,28,

In [18]:
for i in range(len(df)):
    if(df['weightage'][i]>=40):
        df['result'][i]="pass"
    else:
        df['result'][i]="fail"

In [19]:
df.head()

,python,r,data_science,skills,degree,year,weightage,result
0,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",B.E,2019,30,fail
1,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...",NaN,2020,29,fail
2,2,0,0,"C++ Programming, Data Structures, Image Proces...",B.Tech,2018,12,fail
3,2,0,0,"MS-Word, Python, SQL, MS-Excel",B.E,2018,15,fail
4,2,2,0,"Natural Language Processing (NLP), Python, R P...",B.Tech (Hons.),2016,20,fail

In [32]:
df_onehot = pd.get_dummies(df[['degree']], prefix="", prefix_sep="")

df_onehot.head()
df_onehot.shape

(522, 39)

In [24]:
df_final= pd.concat([df, df_onehot], axis=1, sort=False)
df_final.head(1)

,python,r,data_science,skills,degree,year,weightage,result,B.Com,B.E,...,Master of Science (M.S.),Master of Science (M.Sc) (Hons.),Master of Statistics (M.Stat),PG Diploma in Data Science,PG in business,PGDBM,Post Graduate Diploma,Post Graduate Diploma in Big Data Analytics (PG-DBDA),Post Graduate Diploma in Management (P.G.D.M.),Post Graduate Programme (PGP)
0,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",B.E,2019,30,fail,0,1,...,0,0,0,0,0,0,0,0,0,0

In [79]:
for i in range(len(df)):
    m_onehot = pd.get_dummies(str(df['skills'][i]).split(','), prefix="", prefix_sep="")
df2=pd.DataFrame(m_onehot)
df2.sample(5)

,Cloud Computing,Data Analytics,Hadoop,Image Processing,Machine Learning,Mathematics,MongoDB,MySQL,Natural Language Processing (NLP),Python,R Programming,Statistical Modeling,Computer Vision
7,0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,0,0,0

In [81]:
df1=pd.concat([df_final,df2],axis=1,sort=False)

In [82]:
df1.head(2)
df1.shape

(522, 60)

In [71]:
df1.dtypes

python                           int64
r                                int64
data_science                     int64
skills                          object
degree                          object
                                ...
 SQL                           float64
 SQL\n519    Data Analytics    float64
 dtype: object                 float64
...\n1      AutoCAD            float64
0      Machine Learning        float64
Length: 72, dtype: object

In [83]:
feature_cols = ["python", "r", "data_science","year","B.E","B.Tech","MSc","M.Tech"]
X = df3[feature_cols] # Features
y = df3.result # Target variable

In [84]:
df1.drop('skills',axis=1,inplace=True)

In [118]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.1,random_state=4)

In [119]:
print('train_test:',X_train.shape,y_train.shape)
print('test_data:',X_test.shape,y_test.shape)

train_test: (469, 8) (469,)
test_data: (53, 8) (53,)

In [120]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [121]:
filename='internbuddy.sav'
pickle.dump(logmodel,open(filename,'wb'))

In [122]:
loaded_model=pickle.load(open(filename,'rb'))
result=loaded_model.score(X_test,y_test)
print(result)

0.9433962264150944

In [123]:
s=loaded_model.predict(X_test)
s

array(['fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail',
       'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail',
       'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail',
       'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail',
       'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail',
       'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail', 'fail',
       'fail', 'fail', 'fail', 'fail', 'fail'], dtype=object)

In [124]:
from sklearn.metrics import jaccard_similarity_score 
jaccard_similarity_score(y_test, s)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:635: DeprecationWarning: jaccard_similarity_score has been deprecated and replaced with jaccard_score. It will be removed in version 0.23. This implementation has surprising behavior for binary and multiclass classification tasks.
  'and multiclass classification tasks.', DeprecationWarning)

0.9433962264150944

In [125]:
c=confusion_matrix(s,y_test)

In [126]:
c

array([[50,  3],
       [ 0,  0]], dtype=int64)

In [127]:
prob=logmodel.predict_proba(X_test)

In [128]:
from sklearn.metrics import log_loss
log_loss(y_test, prob)

0.11077868531644415

In [129]:
from sklearn.metrics import classification_report
print (classification_report(y_test, s))

              precision    recall  f1-score   support

        fail       0.94      1.00      0.97        50
        pass       0.00      0.00      0.00         3

    accuracy                           0.94        53
   macro avg       0.47      0.50      0.49        53
weighted avg       0.89      0.94      0.92        53

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)